<app-alert></app-alert>
<h2>Détails de l'accident</h2>
<p>Survenu le {{date}}</p>
<h3>Informations : </h3>
<p>Adresse : {{adresse}}</p>
<p>agg : {{agg}}</p>
<p>int : {{int}}</p>
<p>dom : {{dom}}</p>


<div class="container" style="Width:100%; text-align:center;">
  <div class="row"> 
    <button style="margin-top: 15px;" mat-raised-button class="btn-outline-danger form-control col-lg-6 " type="button" (click)="dialogRef.close();">Fermer</button>
    <button style="margin-top: 15px;" mat-raised-button class="btn-outline-success form-control col-lg-6 " type="button" (click)="test();">Détails</button>
  </div>
</div>