<div class="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h1>Managelol</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h2>Filtrer</h2>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-default" type="button" (click)="managementTable.fillTable()">Rechercher</button>
        <button class="btn btn-default" type="button" (click)="ajouterButton()">Ajouter nouvelle accident</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        Code Postal <input type="text" class="form-control" [(ngModel)]="postal"/>
      </div>
      <div class="col-xs-2">
        Date <input type="date" class="form-control" [(ngModel)]="date"/>
      </div>
    </div>
  </div>
</div>
<app-management-table #managementTable></app-management-table>
