<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3>{{mode}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-6">
        Longitude <input type="text" class="form-control" [(ngModel)]="longitude" />
      </div>
      <div class="col-xs-6">
        Latitude <input type="text" class="form-control" [(ngModel)]="latitude" />
      </div>
      <div class="col-xs-0"></div>
    </div>
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-6">
        Code Postal <input type="text" class="form-control" [(ngModel)]="postal" />
      </div>
      <div class="col-xs-6">
        Adresse <input type="text" class="form-control" [(ngModel)]="adresse" />
      </div>
      <div class="col-xs-0"></div>
    </div>
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-6">
        Date <input type="date" class="form-control" [(ngModel)]="date" />
      </div>
      <div class="col-xs-6">
        Nombre de véhicule <input type="text" class="form-control" [(ngModel)]="nbv" />
      </div>
      <div class="col-xs-0"></div>
    </div>
    <br/>
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h4>Commentaires</h4>
      </div>
      <div class="panel-body">
        <div *ngFor="let x of accident.comments; let i = index" class="panel panel-default">
          {{x.text}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" (click)="applyAction()">{{action}}</button>
    <button class="btn btn-default" (click)="annuler()">Annuler</button>
  </div>
</div>
